/* reset */
$min-width: 320px; 
$max-width: 1320px; 
$max-width-sm: 1200px; 
$base-bg: #fff; 
$base-font-size: 16px; 
$base-line-height: 1.6; 
$base-font-family: 'Roboto Condensed', sans-serif;
$custom-font-family: 'Fira Sans', sans-serif;
$default-transition:all 0.3s ease;


/* main variables */

$color-blue:#19305D;
$color-white:#fff;
$color-gold:#BEAB8E;
$color-gold-dark:#A58C66;
$color-dark:#2C282D;
$color-grey:#898989;













